nav li{
    display:inline-block;
    margin-left: 25px;
}

nav a {
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
}

a{
    color: rgb(255, 255,255);
    text-decoration: none;
}

header img {
    width: 100px;
    border-radius: 50%;
    border: 5px solid #eb000000;
}
 
body{
    display:grid;
    grid-gap: 0.5rem;
    grid-template:
    "cc cc cc"
    "cp cp bb"
    "pp pp pp";
    grid-template-columns:300px auto auto ;
    grid-template-rows: auto auto auto;
    background-color: rgb(255, 255, 255);

}

.cabecalio{
    grid-area: cc;
    background-color: rgb(0, 0, 0);
    Border-radius: 10px;
}
.braco{
    grid-area: bb;
    background-color:rgb(255, 255, 255);
    color: #000000;
    text-align: center;
    padding: 35px;
    (255, 255, 255,)
    Border-radius : 19px
} 
.barriga{
    grid-area: cp;
    background-color: rgb(0, 0, 0);
    Border-radius: 19px
}
.pe{
    grid-area: pp;
    background-color: rgb(0, 0, 0);
    Border-radius: 19px;
    
}
footer {
    color: #ffffff;
    text-align: center;
    padding: 10px;
    Border-radius: 19px;
  }
  .texto {
    font-size: 16px;
    transition: font-size 0.2s ease-in-out;
} 
 
h1{
    color: aliceblue;
}
h2{
    color: #000000;
}